@model ShopTARgv23.Models.OpenWeatherMap.OpenWeatherMapViewModel

<div class="container">
    <div class="h1">Check Weather</div>

    @if (!ViewData.ModelState.IsValid)

    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))

                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form method="post">
        <div>
            <label for="city">Input City here:</label>
            <input type="text" id="city" name="City" value="Tallinn" required />
        </div>
        <div>
            <label for="country">Choose a Country:</label>
            <select id="country" name="CountryCode">
                <option value="EE">Estonia</option>
                <option value="UK">United Kingdom</option>
            </select>
        </div>
        <button asp-action="GetCityWeather" asp-controller="OpenWeatherMap">Get Weather</button>
    </form>
</div>
